# ────────────────
# VARIABLES GLOBALES
# ────────────────
APP_ENV=development
APP_PORT=8080

# ────────────────
# BASE DE DATOS COCKROACHDB
# ────────────────
DB_HOST=cockroachdb
DB_PORT=26257
DB_USER=root
DB_NAME=singlespark
DB_SSL_MODE=disable
DB_URL=postgresql://root@cockroachdb:26257/singlespark?sslmode=disable

# ────────────────
# OTRAS OPCIONES
# ────────────────
LOG_LEVEL=debug
