# CockroachDB (Postgres-compatible)
DB_HOST=localhost
DB_PORT=26257
DB_USER=root
DB_PASS=
DB_NAME=singlespark
DB_SSLMODE=disable

# API key (si quieres usar la que viene en el md); mejor guardarla segura
EXTERNAL_API_URL=https://api.karenai.click/swechallenge/list
EXTERNAL_API_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhdHRlbXB0cyI6MSwiZW1haWwiOiJkY3VhZHJhZG9AdHJ1b3JhIiwiZXhwIjoxNzYxNjU2MzM1LCJpZCI6IiIsInBhc3N3b3JkIjoiY29udHJhLyoqL2Zyb20vKiovdXNlcnMvKiovd2hlcmUvKiovMC8qKi9vci8qKi8xLyoqLy0tIn0.GAKNtgFsDdbhdpW1-2TdtPVfMA5kZCqmUjyqZTIubAg

# Server
HTTP_PORT=8080
